@model School

@{
    ViewData["Title"] = "Informaci칩n Escuela";
}

<h1>Escuela @ViewData["Title"]</h1>
<h2>Nombre: @Model.name</h2>
<h3>Tipo de escuela @Model.typeschool</h3>

<address>
    <p>Direction: @Model.Direccion</p>
    <p>Pais: @Model.Pais </p>
    <p>City: @Model.Ciudad </p>
</address>
<p><strong>A침o fundaci칩n:@Model.A침oDeCreacion </strong> </p>